body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: green; /* 背景を透過に設定 */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: green;
}

.page-left, .page-right {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: green;
}

.page {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background: green; /* 背景色を緑に設定 */
    color: white; /* 文字色を白に設定 */
    font-weight: bold; /* 文字を太くする */
    font-size: 60px; /* 文字サイズを大きくする */
    opacity: 1; /* 初期状態の透明度 */
    transition: opacity 1s; /* 透明度のトランジション */
}

.page.active {
    display: block;
}

/* クリックエリアの設定 */
.click-left, .click-right {
    position: absolute;
    top: 0;
    height: 100%;
    cursor: pointer;
}

.click-left {
    left: 0;
    width: 25%;
}

.click-right {
    right: 0;
    width: 25%;
}
